
body{
    background-color: black;
    color: black;
    text-align: center;
}
.form{
    padding: 10px;
    border: 1px solid red;
    width: 500px;
    text-align: center;
    margin-left: 500px;
    margin-top: 200px;
}
.form button{
    padding: 5px;
    background-color: chocolate;
    color: white;
}

input{
    width: 200px;
    padding: 5px;
    margin: 10px;
}
a{
    margin: 5px;
}